<!DOCTYPE html>
<html lang="ja">
  <head><meta charset="UTF-8"></head>
  <title><%= title %></title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  <body>
	<script type="text/javascript" src="javascripts/three.min.js"></script>
	<script type="text/javascript" src="javascripts/index.js"></script>
    <h1><%= title %></h1>
	<canvas id="canvas"></div>
  </body>
<script type="text/javascript">
(function() {
	// 描画コンテキストの取得
	canvas = document.getElementById('canvas');
	if ( ! canvas || ! canvas.getContext ) { return false; }
	ctx = canvas.getContext('2d');

	// フォント設定
	ctx.font = "12pt  Helvetica";
	window.addEventListener("devicemotion", function(event){
		ctx.clearRect(0, 0, 300, 400);
		var x_a = event.acceleration.x;
		var y_a = event.acceleration.y;
		var z_a = event.acceleration.z;
		var x_g = event.accelerationIncludingGravity.x;
		var y_g = event.accelerationIncludingGravity.y;
		var z_g = event.accelerationIncludingGravity.z;
		ctx.fillText("X : "+x_a, 20, 20);
		ctx.fillText("Y : "+y_a, 20, 40);
		ctx.fillText("Z : "+z_a, 20, 60);
		ctx.fillText("X傾き : "+x_g, 20, 80);
		ctx.fillText("Y傾き : "+y_g, 20, 100);
		ctx.fillText("Z傾き : "+z_g, 20, 120);
	}, true);
})();
setTimeout("scrollTo(0,1)", 50);
</script>
</html>
